::selection {
    background-color: black;
    color: aqua;
}

body {
    background-color: black;
}

* {
    margin: 0;
    padding: 0;
}

.main {
    height: 90vh;
    background-image: url(assets/image/US-en-20200210-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    position: relative;
}

.main .box {
    height: 90vh;
    width: 100%;
    opacity: 0.6;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-size: max(1200vh 100vw);
    background-position: center center;
    align-items: center;
    max-width: 60vw;
    margin: auto;
    height: 62px;
}

nav img {
    filter: brightness(5000%);
    filter: contrast(1000%);
    /* filter: opacity(100%); */
    z-index: 20;
    position: relative;
    width: 200px;
}

button {
    z-index: 20;
    position: relative;
}

.hero {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    height: calc(100% - 62px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 20;
    position: relative;
    padding: 0 30px;

}

.hero> :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
}

.hero> :nth-child(2) {
    font-size: 24px;
    text-align: center;
    font-weight: 800;
}

.hero> :nth-child(3) {
    font-size: 20px;
    text-align: center;
}

.separation {
    height: 7px;
    background-color: rgb(59, 53, 53);
}

.btn {
    padding: 3px 8px;
    font-weight: bold;
    background-color: white;
}

.btn-red,
.main>input {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
}

.main input {
    padding: 7px 181px 8px 14px;
    font-weight: 900;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(37, 36, 36, 0.7);
    border: 1px solid rgba(68, 62, 62, 0.63);
}

.hero-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.btn-red-sm {
    background-color: red;
    color: white;
    padding: 4px 5px;
    /* font-size: 18px; */
    border-radius: 5px;
}

/* .btn :nth-child{
    background-color:  rgba(37, 36, 36, 0.2);
    color: aliceblue;
    border-radius: 5px;
} */
.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

@media screen and (max-width: 950px) {
    body {}

    .first {
        flex-wrap: wrap;
    }
}

.one {
    font-size: 40px;
    font-weight: bolder;

}

.two {
    font-size: 21px;
}



.secimg {
    position: relative;
}

.secimg img {
    width: 30vw;
    position: absolute;
}

secimg video {
    position: relative;
    top: 51px;
    right: 0;
    z-index: 25px;
}

.separation {
    height: 7px;
    background-color: rgb(59, 53, 53);
}

.faq h1 {
    text-align: center;
    padding: 30px;

}

.faq {
    color: aliceblue;
    background-color: black;
    padding: 34px;
}

.faqbox {
    width: 800px;
    display: flex;
    /* position:absolute;
      left: 225px; */
    max-width: 100vw;
    background-color: rgb(43, 39, 39);
    color: rgb(253, 254, 255);
    padding: 24px;
    font-size: 24px;
    justify-content: space-between;
    margin: 34px auto;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.faqbox:hover {
    /* filter: invert(); */
    background-color: rgb(77, 63, 63);
}

footer {
    color: white;
    padding: 34px;
    margin: auto;
    max-width: 60vw;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: aliceblue;
}

@media screen and (max-width: 1300px) {

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.questions {
    /* height: 30vh; */
    padding: 38px 0;
    /*margin: 30px; */
    text-align: center;
    justify-content: center;
}

.footer a {
    color: aliceblue;
}